* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Papyrus";
}

body {
  width: 100%;
  background-color: #248387;
  color: rgb(255, 255, 255);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}